.single-product {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid black;
}
.img-container {
  padding: 0.8rem 0;
  margin-right: 0.3rem;
}
.img-info {
  flex: 2 0 10rem;
  align-self: flex-start;
  padding: 0.3rem;
}
.img-info h5 {
  color: blue;
  font-weight: 400;
}
.img-info h6 {
  font-weight: 400;
  font-size: 1.2rem;
}

.img-info > button {
  background: goldenrod;
  width: 150px;
  height: 30px;
  border-radius: 0.5rem;
}
